:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Inter', sans-serif;

  --accent-color: #523dd7;
  --light-color: #ffffff;
  --gray-color: #121212;

  --body-bg-color: linear-gradient(180deg, #121212 10.69%, #040404 100%);
  --bg-color: #1e1e1e;
  --item-bg-color: rgba(20, 20, 20, 0.98);
  --input-bg-color: #101010;

  --company-border-color: rgba(255, 255, 255, 0.19);
  --input-border-color: #2d2828;
  --container-border-color: #27251e;

  --hover-color: #b49250;
  --input-hover-color: rgba(180, 146, 80, 0.4);

  --input-focus-color: #f2e796;

  --gradient-color: linear-gradient(
    90deg,
    #8f5e25 0%,
    #fbf4a1 50%,
    #8f5e25 100%
  );
  --text-gradient-color: linear-gradient(
    85deg,
    #8f5e25 21.44%,
    #fbf4a1 63.96%,
    #8f5e25 94%
  );
  --btn-bg-color: linear-gradient(
    85deg,
    #8f5e25 14%,
    #a57c3e 42%,
    #fbf4a1 59%,
    #b79553 76%,
    #8f5e25 94.5%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  min-width: 390px;
  scroll-behavior: smooth;
}

.page-body {
  margin: 0;
  min-width: 390px;
  min-height: 100%;
  font-size: 16px;
  overflow-y: auto;
  background: var(--body-bg-color);
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none !important;
  pointer-events: none !important;
}
b {
  font-weight: bold;
}

a {
  text-decoration: none;
}
.dis-scroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
.input {
  border: 2px solid var(--input-border-color);

  &:hover {
    border: 2px solid var(--input-hover-color);
  }
  &:focus {
    border: 2px solid var(--input-focus-color);
  }
}

.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1160px;
  margin-inline: auto;
  padding: 0 15px;
}

.color-text {
  background: var(--text-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text__2 {
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-color);
}
.sub-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--light-color);
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-color);
}

.btn {
  position: relative;
  width: 209px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--gray-color);
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  z-index: 5;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: -100px;
    width: 250%;
    height: 52px;
    background: var(--btn-bg-color);
    transition: all 0.7s ease;
    z-index: -1;
  }
  &:hover::before {
    right: -30px;
  }
}

.btn-decor {
  padding: 1px;
  border-radius: 6px;
  background: var(--gradient-color);
}

.btn-black {
  position: relative;
  color: var(--light-color);
  backdrop-filter: blur(35.5px);
  background: var(--item-bg-color);
  overflow: hidden;
  transition: background 0.7s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-gradient-color);
    opacity: 0;
    transition: opacity 0.7s ease;
    z-index: -1;
  }
  &:hover {
    color: var(--gray-color);
  }
  &:hover::before {
    opacity: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}
